/*
Light mode for the application
 */

@import url(baseStyle.css);

.root {
    -fx-background-color: #e1e3e0;
    -fx-text-fill: #000000;
}

.primary {
    -fx-background-color: #e1e3e0;
}

.accent {
    -fx-background-color: #ffffff;
}

.info-area {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 3, 0, 0.0, 3.0);
}

#backgroundImage{
    -fx-background-image: url("../images/vineyard_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.label {
    -fx-text-fill: #333;
}


.warningText {
    -fx-text-fill: #e95958;
}

.button, .textbox, .dropdown, .slidertextbox {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-color: transparent;
}

.textbox, .slidertextbox {
    -fx-border-color: #bbb;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.button:hover, .dropdown:hover {
    -fx-border-color: #bbb;
    -fx-text-fill: #000000;
}

.primary-button {
    -fx-background-color: #e7e7e7;
}

.primary-button:hover {
    -fx-background-color: #f8f8f8;
}

.piechart-button {
    -fx-background-color: #ffffff;
    -fx-padding: 8 15;
    -fx-border-width: 2;
    -fx-border-height: 3;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
.piechart-button.active {
    -fx-border-color: gray;
    -fx-border-radius: 5;
}

.piechart-button:selected{
    -fx-border-color: gray;
}

.dropdown .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}
.dropdown .list-cell:odd {
    -fx-background-color: #eee;
}

.dropdown .list-cell:hover {
    -fx-background-color: #ddd;
}


.dropdown {
    -fx-border-color: #bbb;
    -fx-border-width: 2;
}


.menu-item {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}


.menu-item:hover {
    -fx-background-color: #ddd;
    -fx-text-fill: #000000;
}

.table-view {
    -fx-table-cell-border-color: #ddd;
}

.table-row-cell{
    -fx-background-color: #ffffff;
}

.table-row-cell:odd{
    -fx-background-color: #eeeeee;
}

.table-row-cell:hover .table-cell {
    -fx-background-color: #ddd;
    -fx-text-fill: #000;
}

.list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.list-cell:odd {
    -fx-background-color: #eeeeee;
    -fx-text-fill: #000000;
}

.list-cell:hover {
    -fx-background-color: #ddd;
    -fx-text-fill: #000000;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: #4db265;
    -fx-text-fill: #000;
}

.table-row-cell {
    -fx-text-fill: #000;
}
