@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Space+Mono:wght@400;700&display=swap');

.root {
    -fx-background-color: #dddddd;
    -fx-text-fill: #000000;
    -fx-font-family: "Radio Canada Big";
    -fx-font-weight: 400;
}

.label {
    -fx-font-family: "Radio Canada Big";
    -fx-font-weight: 400;
}


.tool-bar {
    -fx-background-color: #ffffff;
    -fx-padding: 5;
}

.button {
    -fx-background-color: #ffffff;
    -fx-font-size: 16px;
    -fx-text-fill: #000000;
    -fx-padding: 8 15;
    -fx-background-radius: 10px;
}

.button:hover {
    -fx-background-color: #dddddd;
    -fx-text-fill: #000000;
}

.button.active {
    -fx-background-color: #4db265;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-padding: 8 15;
}

.menu-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-padding: 2;
}

.menu-button:hover {
    -fx-background-color: #dddddd;
    -fx-text-fill: #000000;
}

.menu-item {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.menu-item:hover {
    -fx-background-color: #dddddd;
    -fx-text-fill: #000000;
}

.stack-pane {
    -fx-background-color: #bbbbbb;
    -fx-padding: 10;
}

.anchor-pane {
    -fx-background-color: #bbbbbb;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
 -fx-background-color: transparent;
}

.table-view .column-header{
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-padding: 2 0 2 10px;
}

.table-row-cell{
    -fx-background-color: #ffffff;
}

.table-row-cell:odd{
    -fx-background-color: #eeeeee;
}

.table-row-cell:selected {
    -fx-background-color: #4db265;
    -fx-text-fill: #ffffff;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}